RewriteEngine On

# 1. Если пользователь ввел адрес с .html, перенаправляем его на "чистый" адрес (SEO-редирект)
RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
RewriteRule ^ /%1 [L,R=301]

# 2. Если файл .html существует, открываем его скрыто для пользователя
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

# 3. Индексный файл (необязательно, но полезно для стабильности главной)
DirectoryIndex index.html